<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My projects</title>
  </head>
  <body>
    {{> header}}
    <h2>My future projects</h2>
    <li>
      <ul>fv-Pos</ul>
      <ul>ichbili.io</ul>
      <ul>p.moto</ul>
      <ul>chatbot</ul>
    </li>
    {{> footer}}
  </body>
</html>
